{% extends 'base.html'%}
{% load cart %}
{% load custom_filter %}
{% block content %}



<form id="razorid" action="/payment" method="POST">
    {% csrf_token %}
    <input hidden readonly name="razorpay_payment_id" id="razorpay_payment_id">
    <input hidden readonly name="razorpay_order_id" id="razorpay_order_id">
    <input hidden readonly name="razorpay_signature" id="razorpay_signature">
</form>

<div class="col-lg-3 mx-auto p-5 mt-4">
    <ul style="height:70%; display: inline; width: 100%;" class="list-group">
        {% if products|total_cart_price:request.session.cart == totalprice %}
        <h2>Product Detail: </h2>
        {% endif %}
        {% for product in products %}
        <li class="list-group-item mt-1"><b>Product Name: </b>{{product.name}}
            -<b>{{product|price_total:request.session.cart|currency}}</b></li>
        {%endfor%}
    </ul>
    <ul class="list-group mt-4">
        <h2>Customer Detail: </h2>
        <li class="list-group-item mt-1 "><b>Customer Name: </b>{{customername}}</li>
        <li class="list-group-item"><b>Customer Address: </b>{{address}}</li>
        <li class="list-group-item"><b>Phone Number: </b>{{phone}}</li>
        <li class="list-group-item"><b>Post Code: </b>{{postcode}}</li>

    </ul>
    {% if products|total_cart_price:request.session.cart == totalprice %}
    <ul style="height:60%; text-align: center;" class="list-group mt-4 mb-3">
        <li class="list-group-item"><b style="position: absolute; left: 5%;">Total-</b>
            <h5 style="overflow: hidden; display: inline; text-align: center;">{{totalprice|currency}}</h5>
        </li>
    </ul>
    <button style="text-align: center; width: 100%;" type="button" id="rzp-button1" class="btn btn-outline-success"><b>
            Pay {{products|total_cart_price:request.session.cart| currency}}</b></button>
    {% else %}
    <div style="text-align: center; height: fit-content" class="alert alert-danger p-0 mt-4" role="alert">
        <p>Please checkout before coming on payment Site</p>
        <p>Go To <a href="/cart">Cart</a></p>
    </div>
    {% endif %}
</div>








<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>


    var options = {
        "key": "rzp_test_hirfh6v5D2YqkU",
        "name": "E-Shopy",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": "{{orderid}}",
        "handler": function (response) {

            document.getElementById('razorpay_payment_id').value = response.razorpay_payment_id
            document.getElementById('razorpay_order_id').value = response.razorpay_order_id
            document.getElementById('razorpay_signature').value = response.razorpay_signature
            document.getElementById('razorid').submit();

            console.log({
                razorpay_payment_id: response.razorpay_payment_id,
                razorpay_order_id: response.razorpay_order_id,
                razorpay_signature: response.razorpay_signature

            })


            // alert(response.razorpay_payment_id);
            // alert(response.razorpay_order_id);
            // alert(response.razorpay_signature)
        },
        "prefill": { "name": "{{customername}}", "email": "{{customer_email}}", "contact": "{{phone}}" },
        "notes": { "address": "Razorpay Corporate Office" },
        "theme": { "color": "#3399cc" }
    };

    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function (e) { rzp1.open(); e.preventDefault(); }


</script>

{% endblock %}