{% extends 'base.html'%}
{% block content %}



<!-- product -->
{%if products %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          {%for i in products%}
          <div class="col-sm-4">
            <a style=" color: inherit; text-decoration: none;" href="/productview/{{i.id}}">
              <div class="card mx-auto mb-3 " s id={{i.id}} style="width: 18rem; border-radius: 10px; ">
                {% if i.image %}
                <img style="height: 250px; border-radius: 10px;" class="card-img-top" src="{{i.image.url}}"
                  alt="Card image cap">
                {% else %}
                <img style="height: 20rem;" src="{{ i.image_url }}" class="card-img-top" alt="...">
                {% endif %}
                <hr>
                <div class="card-body">
                  <h5 style="text-align: center;" class="card-title">{{ i.name|slice:":25"}} ..
                  </h5>
                  <p class="card-text"><b>{{i.price}}</b></p>
                  <p class="card-title">{{i.description|slice:"0:50"}}</p>
                </div>

              </div>
            </a>
          </div>
          {%if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% else %}
<div class="container-fluid">
  <div>

    <h1 style="text-align: center;" class="p-4 m-4"> Product Not Found </h1>
    <a href="/" style="text-align: center; position: absolute; right: 45%;" class="btn btn btn-primary p-4 m-4"> Go to
      Home Page
    </a>
  </div>
</div>
{%endif%}
{%endblock%}